body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: powderblue;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}


h1 {
  font-size: 5rem;
  color: white;
}
h2{
  color: grey;
}
p{
  color: black;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 20px;
}

footer>p {
  text-align: right;
  color: rgb(30, 30, 219);
}

.card {
  width: 46%;
}
.left {
  float: left;
}

.right {
  float: right;
}

@media (max-width : 680px){
  .logo{
    width: 100px;
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}


